GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DATABASE_URL=jdbc:postgresql://localhost:5432/tripsync_data
DATABASE_USERNAME=tripsync
DATABASE_PASSWORD=
FRONTEND_URL=http://localhost:5173
CORS_ALLOWED_ORIGINS=http://localhost:5173
